<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sign Up Staff</title>
  </head>
  <body>
    {% if info %}
    <div class="alert-info">{{ info | safe }}</div>
    {% endif %}
    <form action="/signup_staff" method="post">
      <h2>Sign Up</h2>
      Name (First and Last):<br>
      <input type="text" name="name" required><br>
      Email:<br>
      <input type="email" name="email" required><br>
      Password:<br>
      <input type="password" name="password1" required><br><br>
      Confirm Password:<br>
      <input type="password" name="password2" required><br><br>
      Phone Number:<br>
      <input type="tel" name="phone_number" required><br><br>

      Pay Grade:<br>
      <select name="pay_grade" required>
        <option value="" disabled selected>Select Pay Grade</option>
        <option value="E1">E1</option>
        <option value="E2">E2</option>
        <option value="E3">E3</option>
        <option value="E4">E4</option>
        <option value="E5">E5</option>
        <option value="E6">E6</option>
        <option value="E7">E7</option>
        <option value="E8">E8</option>
        <option value="E9">E9</option>
        <option value="O1">O1</option>
        <option value="O2">O2</option>
        <option value="O3">O3</option>
        <option value="O4">O4</option>
        <option value="O5">O5</option>
        <option value="O6">O6</option>
        <option value="O7">O7</option>
        <option value="O8">O8</option>
        <option value="O9">O9</option>
        <option value="O10">O10</option>
      </select><br><br>

      Component:<br>
      <select name="component" required>
        <option value="" disabled selected>Select Component</option>
        <option value="USMC">USMC</option>
        <option value="USN">USN</option>
        <option value="USNR">USNR</option>
        <option value="Civilian">Civilian</option>
      </select><br><br>
      
      Job Title:<br>
      <input type="text" name="job_title" required><br><br>
      
      <input type="submit" value="Sign Up As Staff">
    </form>
  </body>
</html>

