<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard</title>
</head>
<body>
    {% if info %}
    <div class="alert-info">
        {{ info | safe }}
    </div>
    {% endif %}
    <h2>Welcome, {{ title }} {{ name }}!</h2>
    
    <button onclick="location.href='/directory'">View Directory</button><br><br>
    <button onclick="location.href='/view_events'">View Events</button><br><br>
    
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
